.wrapper {
    min-width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 100px;

    @media (max-width: 650px) {
        padding-bottom: 0;
    }

    h1 {
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        text-align: center;
        letter-spacing: -0.02em;
        text-transform: capitalize;
        color: #FFFFFF;
        max-width: 800px;
    }

    h2 {
        margin-top: 28px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #DDE2FF;
        opacity: 0.6;
        max-width: 350px;
    }
}

.buttons_wrapper {
    margin-top: 34px;
    max-width: 530px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    button {
        margin: 0 40px;
        min-width: 200px;
        height: 50px;
        border-radius: 10px;
        background: #014C93;
        border: none;
        color: white;
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        text-align: center;
        letter-spacing: 0.0005em;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
            background: white;
            color: #014C93;
        }

        @media (max-width: 500px) {
            margin: 0 10px;
        }

        @media (max-width: 430px) {
            min-width: 150px;
        }
    }
}