.wrapper {
    padding: 100px 0;
    display: flex;
    justify-content: center;
    gap: 80px;

    img {
        margin-left: 100px;
    }

    .info {
        h1 {
            max-width: 500px;
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            letter-spacing: -0.02em;
            text-transform: capitalize;
            color: #FFFFFF;
        }

        h2 {
            margin-top: 30px;
            max-width: 400px;
            font-style: normal;
            font-weight: 300;
            font-size: 18px;
            text-transform: capitalize;
            color: #FFFFFF;
        }

        button {
            margin-top: 30px;
            width: 200px;
            height: 50px;
            background: #014C93;
            border-radius: 10px;
            border: none;
            color: white;
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.0005em;
            text-transform: uppercase;
            color: #FFFFFF;
            cursor: pointer;

            &:hover {
                cursor: pointer;
                background: white;
                color: #014C93;
            }
        }
    }

    @media (max-width: 1400px) {
        gap: 50px;

        img {
            margin-left: 80px;
        }

        .info {
            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 18px;
            }
        }
    }

    @media (max-width: 1240px) {
        gap: 40px;

        img {
            margin-left: 40px;
            width: 600px;
        }

        .info {
            h1 {
                font-size: 30px;
            }

            h2 {
                font-size: 15px;
            }
        }
    }

    @media (max-width: 980px) {
        img {
            margin-left: 30px;
            width: 600px;
            height: 300px;
        }

        .info {
            h1 {
                font-size: 25px;
            }

            h2 {
                font-size: 15px;
                max-width: 300px;
            }
        }
    }

    @media (max-width: 700px) {
        img {
            display: none;
        }

        .info {
            h1 {
                font-size: 40px;
            }

            h2 {
                font-size: 25px;
                max-width: 500px;
            }
        }
    }

    @media (max-width: 500px) {
        .info {
            margin: 0 30px;

            h1 {
                font-size: 35px;
            }

            h2 {
                font-size: 20px;
            }
        }
    }
}